In [1]:
print("Sanika")

Sanika

In [2]:
name = "robin"

In [3]:
24servive = "available"

SyntaxError: invalid decimal literal (3651449192.py, line 1)

In [4]:
ace123 = 123

In [5]:
_insta = 0907

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3488009103.py, line 1)

In [6]:
sanika@09 = 07

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (828489168.py, line 1)

In [7]:
name = "sanika"

In [8]:
name

'sanika'

In [9]:
_in = 345

In [10]:
_in

345

In [11]:
sanika@ = 123

SyntaxError: invalid syntax (2300066369.py, line 1)

In [12]:
typeof(name)

NameError: name 'typeof' is not defined

In [13]:
type(name)

str

In [14]:
type(_in)

int

In [15]:
perc = 90.8

In [16]:
type(perc)

float

In [17]:
data = true

NameError: name 'true' is not defined

In [18]:
data = True

In [19]:
type(data)

bool

In [6]:
num_1 = int(input("Enter first number : "))
num_2 = int(input("Enter second number : "))
print("Addition of given numbers is : ", num_1 + num_2)
print("Difference between given numbers is : ", num_1 - num_2)
print("Multiplication of given numbers is : ", num_1 * num_2)
print("Division of given numbers is : ", num_1 / num_2)
print("Exponential of given numbers is : ", num_1 ** num_2)
print("Remainder of given numbers is : ", num_1 % num_2)
print("First number is greater : ", num_1 > num_2)

Enter first number :  16
Enter second number :  4

Addition of given numbers is :  20
Difference between given numbers is :  12
Multiplication of given numbers is :  64
Division of given numbers is :  4.0
Exponential of given numbers is :  65536
Remainder of given numbers is :  0
First number is greater :  True

In [8]:
print("For area of SQUARE")
side = float(input("Enter the side in cm : "))
print("Area of square is : ", round(side*side, 2), "sq cm\n")

print("For area of RECTANGLE")
len = float(input("Enter the length in cm : "))
bre = float(input("Enter the breadth in cm : "))
print("Area of rectangle is : ", round(len*bre, 2), "sq cm\n")

print("For area of TRIANGLE")
height = float(input("Enter the height in cm : "))
base = float(input("Enter the base in cm : "))
print("Area of triangle is : ", round(0.5*base*height, 2), "sq cm\n")

print("For area of CIRCLE")
radius = float(input("Enter the radius in cm : "))
print("Area of circle is : ", round(3.14*radius*radius, 2), "sq cm\n")

For area of SQUARE

Enter the side in cm :  6.9

Area of square is :  47.61 sq cm

For area of RECTANGLE

Enter the length in cm :  15
Enter the breadth in cm :  30.8

Area of rectangle is :  462.0 sq cm

For area of TRIANGLE

Enter the height in cm :  7
Enter the base in cm :  5

Area of triangle is :  17.5 sq cm

For area of CIRCLE

Enter the radius in cm :  6.7

Area of circle is :  140.95 sq cm